# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
xtest

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vim/
.git/
.idea/
.vscode/
.ccls-cache/
test-data/
src/*/.git
*_linux
/bin/
/dist/
keyboard-shortcut-editor
macro-editor
